a {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  background: rgb(244, 244, 240);
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  overflow-x: hidden;
}

.footer {
  overflow-x: hidden;
}

.header {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}